@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* border: 1px solid black; */
    cursor: none !important;
}

.inner-cursor{
    z-index: 50;
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    mix-blend-mode: difference;
    /* border-radius: 50%; */
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow{
    width: 25px;
    height: 25px;
    transition: width 0.5s ,height 0.5s;
    border-radius: 50%;
}
.outer-cursor.round{

    border-radius: 50%;
}


.outer-cursor{
    z-index: 50;
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%,-50%);
    border:1px solid #fff;
    mix-blend-mode: difference;
    /* border-radius: 50%; */
    pointer-events: none;
    transition:  0.1s;
}

